@model IEnumerable<ReservationSystem_Server.Data.Sitting>

@{
    ViewData["Title"] = "Sittings";
}

<h1>Please select a sitting</h1>

<div class="list-group">
    @if (Model.Count() == 0)
        {
            <p class="list-group-item list-group-item-danger" >No sittings found, please contact the restaurant for further information</p>
        }

    @{
        DateOnly lastDate = new DateOnly(); /*creates a new date that is 01/01/0001*/
    }
    @foreach (var sitting in Model)
    {
        DateOnly thisDate = DateOnly.FromDateTime(sitting.StartTime); //assign Date of StartTime to thisDate
        if (lastDate != thisDate)
        {
            lastDate = thisDate;
            <span class="list-group-item list-group-item-primary fw-bold text-center">
                @thisDate.ToShortDateString()
            </span>
        }

        
        <a class="list-group-item list-group-item-action" , asp-action="Create" , asp-route-sittingId="@sitting.Id">
            @sitting.SittingType.Description
            from @sitting.StartTime.ToShortTimeString()
            to @sitting.EndTime.ToShortTimeString()
        </a>




    }


</div>


