@using ReservationSystem_Server.Data
@model ReservationSystem_Server.Areas.Admin.Models.Reservation.SittingViewModel

@{
    ViewBag.Title = "Reservations";
}

<h2>Reservations</h2>
<b>For @Model!.Sitting.SittingType.Description sitting on @Model.Sitting.StartTime.ToShortDateString()</b>
<b>From @Model.Sitting.StartTime.ToShortTimeString() to @Model.Sitting.EndTime.ToShortTimeString()</b>

<hr/>

<div class="mb-2">
    <a asp-action="Create" asp-route-sittingId="@Model.Sitting.Id" class="btn btn-outline-success">Create Reservation</a>
    <a asp-action="Index" class="btn btn-outline-primary">Back to Sittings</a>
</div>

<ul class="list-group">
    @if (Model.Sitting.Reservations.Count == 0)
    {
        <li class="list-group-item list-group-item-danger">No reservations</li>
    }
    else
    {
        @foreach (Reservation reservation in Model.Sitting.Reservations)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    @reservation.Customer.FirstName @reservation.Customer.LastName - @reservation.StartTime.ToShortTimeString() to @reservation.EndTime.ToShortTimeString()
                    <span class="badge rounded-pill bg-primary">
                        @reservation.Tables.Count table(s)
                    </span>
                    <span class="badge rounded-pill bg-primary">
                        @reservation.ReservationOrigin.Description
                    </span>
                </span>
                @{ string badgeClass = Model.ReservationStatusVisuals[reservation.ReservationStatusId]?.HtmlBadgeClass ?? "bg-primary"; }
                <span>
                    <span class="badge @badgeClass rounded-pill user-select-none reservation-status" style="width: 100px; cursor: pointer;" data-id="@reservation.Id">
                        @reservation.ReservationStatus.Description &gt;
                    </span>
                    <a class="btn btn-sm btn-outline-primary rounded-pill" asp-action="Edit" asp-route-id="@reservation.Id">Edit</a>
                    <a class="btn btn-sm btn-outline-info rounded-pill" asp-action="AssignTables" asp-route-id="@reservation.Id">Assign</a>
                </span>
            </li>
        }
    }
</ul>

<div class="modal fade" id="update-status" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-status-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('.reservation-status').click(function () {
            const reservationId = $(this).attr('data-id');
            
            fetch("@Url.Action("UpdateStatus")" + `/${reservationId}`)
                .then(response => response.text())
                .then(html => {
                    $('#update-status-body').html(html);
                    $('#update-status').modal('show');
                });
        });
        
        $('#btn-save').click(function () {
            $('#modal-submit').submit();
            $('#update-status').modal('hide');
        });
    </script>
}